<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/style.css" />
		<title>Assignment 1</title>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h1>Hallo</h1>
			</div>

			<div class="input-box">
				<div class="input-group" id="igAge">
					<label class="item" for="age">Age: </label>
					<input
						class="item"
						type="text"
						name="age"
						id="age"
						placeholder="Age"
					/>
				</div>

				<div class="input-group" id="igNumberAccident">
					<label class="item" for="numberOfAccident"
						>Number of Accidents:
					</label>
					<input
						class="item"
						type="text"
						name="numberOfAccident"
						id="numberOfAccident"
						placeholder="Number of Accident"
					/>
				</div>
				<div class="input-group">
					<label class="item">Calculate</label>
					<button class="item btn" id="calBTN">Calculate</button>
				</div>
				<br />
				<div class="input-group" id="Result">
					<label class="item">Cost:</label>
					<p class="item" id="output">Output</p>
				</div>
			</div>
		</div>

		<script type="module" src="../js/assignment1W.js"></script>
	</body>
</html>
