<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Test</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h2>Please Fill Out Every Field To Be Reversed</h2>
        </div>
        <div id="results"></div>

        
        <div class="input-box">
            <div class="input-group">
                <label class="item" for="nameOne">Enter Name:</label>
                <input class="item" type="text" name="nameOne" id="nameOne">
            </div>

            <div class="input-group">
                <label class="item" for="nameTwo">Enter Name:</label>
                <input class="item" type="text" name="nameTwo" id="nameTwo">
            </div>

            <div class="input-group">
                <label class="item" for="nameThree">Enter Name:</label>
                <input class="item" type="text" name="nameThree" id="nameThree">
            </div>

            <div class="input-group">
                <label class="item" for="nameFour">Enter Name:</label>
                <input class="item" type="text" name="nameFour" id="nameFour">
            </div>

            <div class="input-group">
                <button class="btn" id="reverseNames">Reverse Names</button>
            </div>
        </div>
    </div>
    <script type="module" src="../js/assignment4.js"></script>
</body>
</html>