<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../styles/style.css" />
		<title>Assignment 3</title>
	</head>
	<body>
		<div class="container">
			<div class="title">
				<h2>Tell me your full name</h2>
			</div>
			<div id="content"></div>
			<div class="input-box">
				<button class="btn" id="getNames">Press The button</button>
			</div>
		</div>
		<script type="module" src="../js/assignment3.js"></script>
	</body>
</html>
