<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/imageSlider.css">
    <title>Image Slider</title>
</head>
<body>
    <div id="slider">
        <div class="slide fade" id="green">
            <!-- https://pixabay.com/illustrations/beetle-volkswagen-car-old-vintage-8273349 -->
            <img src="../image/beetle-8273349_1920.jpg" alt="">    
        </div>
        <div class="slide fade" id="blue">
            <!-- https://pixabay.com/vectors/flowers-floral-bloom-blossom-8289320 -->
            <img src="../image/flowers-8289320_1920.png" alt="">     
        </div>
        <div class="slide fade" id="red">
            <!-- https://pixabay.com/illustrations/autumncontest-autumn-ghost-puppy-8311751 -->
            <img src="../image/autumncontest-8311751_1920.jpg" alt="">    
        </div>
    </div>



    <script type="module" src="../js/imageSlider.js"></script>
</body>
</html>