<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>TextArea</title>
</head>
<body>
    <div class="container">
        <div class="input-group">
            <textarea name="limitedTA" id="limitedTA"></textarea>
            <input type="text" name="counter" id="counter" readonly>
        </div>
    </div>

    <script type="module" src="../js/textarea.js"></script>
</body>
</html>